## Question 3

In [1]:
import pandas as pd
from pandas import Series, DataFrame
a = pd.read_csv('C:\\Users\mites\Python\DataAnalysis4Python_Spring17\Assignments\Assignment 3\Data\\cricket_matches.csv')
a[:10]

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN
5,Midlands/Wales/West Group:Gloucestershire v Wo...,Gloucestershire won by 4 wickets (with 5 balls...,Worcestershire 122 (19.5/20 ov); Gloucestershi...,14/06/2003,Bristol,Midlands/Wales/West Group,Gloucestershire,Worcestershire,Gloucestershire,NaN,...,10.0,19.5,20.0,Gloucestershire,126.0,6.0,19.1,20.0,NaN,NaN
6,South Group:Surrey v Essex at East Molesey- Ju...,Surrey won by 44 runs,Surrey 182/9 (20/20 ov); Essex 138 (18.5/20 ov),14/06/2003,East Molesey,South Group,Surrey,Essex,Surrey,44.0,...,9.0,20.0,20.0,Essex,138.0,10.0,18.5,20.0,NaN,NaN
7,North Group:Yorkshire v Derbyshire at Leeds- J...,Yorkshire won by 45 runs,Yorkshire 186/5 (20/20 ov); Derbyshire 141 (18...,14/06/2003,Leeds,North Group,Yorkshire,Derbyshire,Yorkshire,45.0,...,5.0,20.0,20.0,Derbyshire,141.0,10.0,18.1,20.0,NaN,NaN
8,Midlands/Wales/West Group:Glamorgan v Northamp...,Northamptonshire won by 23 runs,Northamptonshire 159/5 (20/20 ov); Glamorgan 1...,16/06/2003,Cardiff,Midlands/Wales/West Group,Glamorgan,Northamptonshire,Northamptonshire,23.0,...,5.0,20.0,20.0,Glamorgan,136.0,10.0,18.4,20.0,NaN,NaN
9,South Group:Kent v Hampshire at Beckenham- Jun...,Kent won by 6 wickets (with 48 balls remaining),Hampshire 145/6 (20/20 ov); Kent 147/4 (12/20 ov),16/06/2003,Beckenham,South Group,Kent,Hampshire,Kent,NaN,...,6.0,20.0,20.0,Kent,147.0,4.0,12.0,20.0,NaN,NaN

In [8]:
frame = DataFrame(a, columns=['home', 'winner', 'innings1', 'innings1_runs','innings2', 'innings2_runs'])
frame[:10]

,home,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
2,Somerset,Warwickshire,Warwickshire,188.0,Somerset,169.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0
6,Surrey,Surrey,Surrey,182.0,Essex,138.0
7,Yorkshire,Yorkshire,Yorkshire,186.0,Derbyshire,141.0
8,Glamorgan,Northamptonshire,Northamptonshire,159.0,Glamorgan,136.0
9,Kent,Kent,Hampshire,145.0,Kent,147.0

In [12]:
frame2 = frame.loc[frame['home'] == frame['winner']]
frame2[:10]

,home,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0
6,Surrey,Surrey,Surrey,182.0,Essex,138.0
7,Yorkshire,Yorkshire,Yorkshire,186.0,Derbyshire,141.0
9,Kent,Kent,Hampshire,145.0,Kent,147.0
10,Leicestershire,Leicestershire,Leicestershire,174.0,Yorkshire,158.0
11,Nottinghamshire,Nottinghamshire,Lancashire,120.0,Nottinghamshire,124.0

In [45]:
frame2['scores'] = frame2['innings1_runs'].where(frame2['innings1'] == frame2['home'], frame2['innings2_runs'])

C:\Users\mites\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [43]:
frame3=frame2.groupby('home')['scores'].mean().head(5)
frame3

home
Abahani Limited       172.000000
Abbottabad Falcons    139.454545
Abbottabad Region     182.666667
Abbottabad Rhinos     165.000000
Adelaide Strikers     163.111111
Name: scores, dtype: float64

In [44]:
frame3.to_csv('scores.csv')